@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Merriweather+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@font-face {
  font-family: titulos;
  src: url(../../tipografias/TrajanPro-Regular.otf);
}
@font-face {
  font-family: body;
  src: url(../../tipografias/GARA.TTF);
}
@font-face {
  font-family: frases;
  src: url(../../tipografias/Austhina\ Brush\ Calligraphy\ Scratch\ .ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.wap {
  position: fixed;
  height: 3rem;
  width: 3rem;
  bottom: 13px;
  right: 13px;
  z-index: 100;
}

.banner {
  padding: 5% 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.banner .sentidos .p1 {
  font-family: "Libre Baskerville", serif;
  font-family: "Poiret One", cursive;
  color: #D0CCB3;
  font-size: 3.5em;
  font-weight: bold;
}

.logo img {
  width: 270px;
}

.p2 {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Poiret One", cursive;
  font-size: 1.5em;
  color: #D0CCB3;
}

@font-face {
  font-family: "Open Sans";
  src: url("/media/GARAIT.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 70px;
  transition: 0.7s ease-out;
}
.menu-nav.scroll-down {
  transform: translate3d(0, -100%, 0);
}
.menu-nav.scroll-up {
  transform: none;
  height: 90px;
  background: rgba(13, 2, 4, 0.8);
}
.menu-nav .social {
  left: 3%;
  position: absolute;
}
.menu-nav .social a i {
  font-size: 1em;
  color: #D0CCB3;
  margin: 0% 5px;
}
.menu-nav ul {
  display: flex;
  list-style: none;
  font-size: 1em;
  padding-left: 0;
  margin-bottom: 0;
}
.menu-nav ul li {
  padding: 0 10px;
}
.menu-nav ul li a {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  text-decoration: none;
  color: #D0CCB3;
  letter-spacing: 1px;
  transition: all 0.5s ease-out;
}
.menu-nav ul li a:hover {
  color: #8d323a;
}
.menu-nav input {
  display: none;
}
.menu-nav label {
  display: inline;
}
.menu-nav label .btn {
  display: none;
  position: absolute;
  width: 56px;
  height: 43px;
  right: 2.5rem;
  top: 3.3rem;
  cursor: pointer;
  /*fin boton burguer*/
}
.menu-nav label .btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #D0CCB3;
  margin-top: 6px;
  transition: all 300ms;
  transform-origin: 0px 100%;
  /*transformacion de la cruz*/
  /* fin transformacion de la cruz*/
}
.menu-nav label .btn span.linea1active {
  transform: rotate(45deg) translate(-2px, 1px);
}
.menu-nav label .btn span.linea2active {
  opacity: 0;
  margin-left: -30px;
}
.menu-nav label .btn span.linea3active {
  transform: rotate(-45deg) translate(-4px, 2px);
}
.menu-nav label .btn:hover {
  border: inherit;
}

.shadow-layer {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(0deg, #0D0204, transparent, #0D0204);
  z-index: 96;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: height 999999999s ease;
}
header .images {
  height: 100vh;
}
header .images .title {
  position: absolute;
  z-index: 99;
  width: 30vw;
  height: 30vh;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Poiret One", cursive;
  color: #D0CCB3;
  font-size: inherit;
  opacity: 0;
  -webkit-animation: appear 5s cubic-bezier(0.5, 0.74, 0.14, 0.99) 5s forwards;
          animation: appear 5s cubic-bezier(0.5, 0.74, 0.14, 0.99) 5s forwards;
}
header .images .title H1 {
  font-size: 6rem !important;
}
header .images .scaling {
  background-image: url("../../media/Aereas 4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  transition: height 999999999s ease;
  -webkit-animation: scaling 15s linear infinite alternate forwards;
          animation: scaling 15s linear infinite alternate forwards;
}

@-webkit-keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media all and (max-width: 980px) {
  nav ul {
    display: flex;
    padding: 28% 0%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 100vh;
    background-color: #3FB6B0;
    z-index: 98;
    left: 100%;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    font-size: 2em;
    padding-left: 0px;
  }
  nav ul li a {
    color: #D3E4CD;
  }
  nav ul li a:active {
    color: #874F9D;
  }
  nav #menu-burguer:checked ~ label .btn span {
    background: #D3E4CD;
  }
  nav label .btn {
    display: block !important;
    right: 1.5rem;
    top: 1.3rem;
    z-index: 99;
  }
}
.colapse {
  left: 0;
}

.intro {
  background-image: url("../../media/fondo.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10%;
  color: #D0CCB3;
  font-family: body;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .intro-empty {
  width: 100%;
  order: 2;
}
.intro .intro-shadow-layer {
  position: absolute;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 2;
  background: rgb(52, 11, 18);
  background: radial-gradient(circle, rgba(52, 11, 18, 0) 0%, rgb(52, 11, 18) 50%, rgb(13, 2, 4) 100%);
}
.intro .intro-container {
  z-index: 2;
}
.intro .intro-container p {
  font-size: 1.2rem;
  padding-top: 5%;
}
.intro .intro-container #fontTitulo {
  font-family: titulos;
}
.intro .intro-container .button {
  color: #D0CCB3;
  background-color: transparent;
  border: 2px solid #D0CCB3;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.intro .intro-container .button:hover {
  background-color: #D0CCB3;
  color: #480F19;
  font-weight: 600;
}

.espacios {
  background-color: antiquewhite;
  color: gray;
}
.espacios .contenedor-espacios {
  font-family: body;
  display: flex;
  --bs-gutter-x: none;
}
.espacios .contenedor-espacios:nth-child(even) .espacios-descripcion {
  background-color: antiquewhite;
  order: -1;
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-espacios:nth-child(even) .espacios-descripcion {
    order: inherit;
  }
}
.espacios .contenedor-espacios .espacios-imagen {
  width: 50%;
  padding: 0;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-espacios .espacios-imagen {
    width: 100%;
  }
}
.espacios .contenedor-espacios .espacios-imagen img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.4);
}
.espacios .contenedor-espacios .espacios-imagen h2, .espacios .contenedor-espacios .espacios-imagen h3 {
  transform: translate(-50%, -50%);
}
.espacios .contenedor-espacios .espacios-imagen #fontFrase {
  position: absolute;
  font-family: frases;
  color: white;
  bottom: 8%;
  left: 78%;
}
.espacios .contenedor-espacios .espacios-descripcion {
  flex-direction: column;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 7%;
}
.espacios .contenedor-espacios .espacios-descripcion #fontTitulo {
  font-family: titulos;
  color: #8d323a;
  font-weight: 600;
  font-size: xxx-large;
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-espacios .espacios-descripcion {
    align-items: center;
  }
  .espacios .contenedor-espacios .espacios-descripcion #fontTitulo {
    font-size: x-large;
  }
  .espacios .contenedor-espacios .espacios-descripcion p {
    font-size: 15px;
  }
}

footer {
  background-color: #8d323a;
  color: #f5efd3;
}
footer .contenedor-footer-info {
  display: flex;
}
@media (max-width: 992px) {
  footer .contenedor-footer-info {
    flex-direction: column;
  }
}
footer .contenedor-footer-info .contact-left {
  width: 50%;
}
@media (max-width: 992px) {
  footer .contenedor-footer-info .contact-left {
    width: 100%;
  }
}
@media (max-width: 992px) {
  footer .contenedor-footer-info .info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
footer .contenedor-footer-info .info .logo-footer {
  width: 60%;
  margin: 11%;
}
@media (max-width: 992px) {
  footer .contenedor-footer-info .info .logo-footer {
    width: 40%;
    margin: 5%;
  }
}
@media (max-width: 480px) {
  footer .contenedor-footer-info .info .logo-footer {
    width: 54%;
  }
}
footer .contenedor-footer-info .info ul {
  list-style-type: none;
  margin: 0 11%;
}
@media (max-width: 560px) {
  footer .contenedor-footer-info .info ul {
    width: 64%;
    margin: 0% 5% 0% 6%;
  }
}
@media (min-width: 561px) and (max-width: 993px) {
  footer .contenedor-footer-info .info ul {
    width: 38%;
    margin: 1% 0% 0% 0%;
  }
}
footer .contenedor-footer-info .info ul li div {
  display: flex;
  flex-direction: row;
}
footer .contenedor-footer-info .info ul li div i {
  font-size: 1rem;
  padding-right: 2%;
  display: block;
}
footer .contenedor-footer-info .info ul li div p {
  display: block;
  font-size: 15px;
  font-weight: 300;
}
footer .contenedor-footer-info .redes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  margin: 5% 11%;
}
@media (max-width: 992px) {
  footer .contenedor-footer-info .redes {
    justify-content: center;
  }
}
footer .contenedor-footer-info .redes a {
  display: contents;
}
footer .contenedor-footer-info .redes a i {
  display: block;
  font-size: 15px;
  margin: 0 12%;
  display: block;
  color: white;
}
footer .contenedor-footer-info .redes a img {
  display: block;
  width: 2rem;
  color: white;
  margin: 0 8%;
}
footer .contenedor-footer-info .contenedor-footer-menu {
  margin: 0 11%;
}
footer .contenedor-footer-info .contenedor-footer-menu .menu {
  text-align: center;
  display: contents;
}
@media (max-width: 992px) {
  footer .contenedor-footer-info .contenedor-footer-menu .menu {
    display: block;
  }
}
footer .contenedor-footer-info .contenedor-footer-menu .menu ul {
  text-decoration: none;
  display: contents;
}
footer .contenedor-footer-info .contenedor-footer-menu .menu ul li {
  display: contents;
  font-size: 15px;
  font-weight: 300;
  color: white;
}
footer .contenedor-footer-info .contenedor-footer-menu .menu ul li a {
  color: #f5efd3;
  padding-right: 2%;
}
footer .contenedor-footer-info .contenedor-footer-menu .menu ul li a:hover {
  color: black;
}
footer .contact-right {
  width: 50%;
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  footer .contact-right {
    width: 100%;
    order: -1;
  }
}
footer .contact-right h5 {
  font-family: titulos;
  margin-bottom: 3%;
}
footer .contact-right .form {
  width: 71%;
}
footer .contact-right .form .form-control {
  font-size: 11px;
  border: 1px solid #faf9f9;
  border-radius: 0%;
  background: none;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 0.5rem;
}
footer .contact-right .form .form-control:focus {
  border: 1px solid black !important;
  outline: none !important;
  box-shadow: none;
  background-color: #f5efd3;
}
footer .contact-right .form textarea {
  height: auto;
  resize: none;
}
footer .contact-right .form .btn-primary {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  line-height: 29px;
  padding: 0 7px;
  display: inline-block;
  border: 1px solid #8d323a;
  background: #680d1c;
}
footer .contact-right .ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 71%;
}
footer .contact-right .ubicacion h5 {
  font-family: titulos;
  margin-bottom: 3%;
}
footer .contact-right .ubicacion iframe {
  width: 100%;
  height: 100%;
}

.derechos {
  font-family: body;
  padding: 2% 0;
  text-align: center;
}

.carousel-inner {
  height: 100vh;
  background: #f5efd3;
}
.carousel-inner .carousel-item {
  height: inherit;
}
.carousel-inner .carousel-item .shadow-layer {
  z-index: 0;
}
.carousel-inner .carousel-item img {
  height: 75%;
  margin: auto;
}
.carousel-inner .carousel-item .w-100 {
  width: auto !important;
}
.carousel-inner .carousel-item .carousel-caption {
  right: 2%;
  left: 2%;
  padding: 0% 15%;
}
.carousel-inner .carousel-item .carousel-caption h5 {
  font-family: titulos;
  color: #8d323a;
  font-weight: 600;
  font-size: xxx-large;
}
.carousel-inner .carousel-item .carousel-caption p {
  font-family: body;
  font-size: 1.2rem;
  color: grey;
}
@media screen and (min-width: 772px) and (max-width: 1024px) {
  .carousel-inner .carousel-item .carousel-caption {
    padding: 1rem 7rem;
  }
  .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 1.5rem;
  }
  .carousel-inner .carousel-item .carousel-caption p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 772px) {
  .carousel-inner .carousel-item .carousel-caption {
    padding: 10px;
  }
  .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 17px;
  }
  .carousel-inner .carousel-item .carousel-caption p {
    font-size: 13px;
  }
}

.carousel-control-prev, .carousel-control-next {
  opacity: inherit;
  width: 8%;
}
.carousel-control-prev .carousel-control-prev-icon, .carousel-control-prev .carousel-control-next-icon, .carousel-control-next .carousel-control-prev-icon, .carousel-control-next .carousel-control-next-icon {
  border: transparent solid 3px;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.carousel-control-prev .carousel-control-prev-icon:hover, .carousel-control-prev .carousel-control-next-icon:hover, .carousel-control-next .carousel-control-prev-icon:hover, .carousel-control-next .carousel-control-next-icon:hover {
  border: white solid 2px;
}/*# sourceMappingURL=style.css.map */