@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@font-face {
  font-family: titulos;
  src: url("../tipografias/TrajanPro-Regular.otf");
}
@font-face {
  font-family: body;
  src: url("../tipografias/MinionPro-Regular.otf");
}
@font-face {
  font-family: frases;
  src: url("../tipografias/Austhina Brush Calligraphy Scratch .ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}
body h4 {
  height: 50px;
  position: sticky;
  top: 50px;
  font-family: titulos;
  font-size: 2.5rem;
  color: white;
  background-color: #8d323a;
  text-align: left;
  padding-left: 6%;
  z-index: 10;
}
body .separador {
  position: sticky;
  top: 50px;
  overflow: hidden;
  height: 20px;
}
body .separador:after {
  content: "";
  display: block;
  width: 90%;
  height: 30px;
  margin: -30px auto 0;
  border-radius: 120px/10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.scroll-none {
  overflow-y: hidden;
}

.wap {
  position: fixed;
  height: 3rem;
  width: 3rem;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
}

.banner {
  padding: 2% 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.banner .sentidos .p1 {
  font-family: frases;
  color: white;
  font-size: 3.5em;
}
@media (max-width: 992px) {
  .banner .sentidos .p1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 769px) {
  .banner .sentidos {
    display: flex;
    flex-direction: column;
  }
}
.banner .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: flex-end;
}
@media (max-width: 769px) {
  .banner .logo {
    align-items: center;
    justify-content: flex-start;
  }
}
.banner .logo img {
  width: 270px;
}
@media (max-width: 769px) {
  .banner .logo img {
    width: 90%;
  }
}
@media (max-width: 769px) {
  .banner {
    flex-direction: column-reverse;
    height: 240vh;
  }
}
.banner .p2 {
  font-family: body;
  font-size: 1.5em;
  color: lightgray;
  margin-right: 8px;
}
@media (min-width: 769px) and (max-width: 992px) {
  .banner .p2 {
    font-size: 23px;
  }
}
@media (max-width: 480px) {
  .banner .p2 {
    font-size: 19px;
  }
}

.menu-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 65px;
  transition: 0.7s ease-out;
  background-image: linear-gradient(180deg, var(--background-color), var(--background-color), transparent);
}
.menu-nav.scrolled {
  height: 50px;
  background: rgba(0, 0, 0, 0.9);
}
.menu-nav.scrolled .menu-icon_line, .menu-nav.scrolled .menu-icon_line::before, .menu-nav.scrolled .menu-icon_line::after {
  background: #fff !important;
}
.menu-nav.scrolled a, .menu-nav.scrolled .nav-links a {
  color: #fff !important;
}
.menu-nav .social {
  left: 8%;
  position: absolute;
}
@media all and (max-width: 980px) {
  .menu-nav .social {
    position: unset;
    margin-left: 1rem;
  }
}
.menu-nav .social a i {
  font-size: 1.2em;
  color: gray;
  margin: 0% 5px;
}
.menu-nav .social img {
  height: 1.5rem;
  margin-top: -6%;
  margin-left: 0.5rem;
}
.menu-nav ul {
  display: flex;
  margin-right: 8%;
  list-style: none;
  font-size: 1em;
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
}
.menu-nav ul li {
  padding: 0 10px;
}
.menu-nav ul li a {
  font-family: titulos;
  text-decoration: none;
  color: #D0CCB3;
  letter-spacing: 1px;
  transition: all 0.2s ease-out;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s;
}
.menu-nav ul li a:hover, .menu-nav ul li a:focus {
  color: #8d323a;
  background-size: 100% 2px;
}
.menu-nav input {
  display: none;
}
.menu-nav label {
  display: inline;
  z-index: 99;
}
.menu-nav label .btn {
  display: none;
  width: 55px;
  height: 44px;
  margin-right: 0.5rem;
  cursor: pointer;
  /*fin boton burguer*/
}
.menu-nav label .btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #D0CCB3;
  margin-top: 6px;
  transition: all 300ms;
  transform-origin: 0px 100%;
  /*transformacion de la cruz*/
  /* fin transformacion de la cruz*/
}
.menu-nav label .btn span.linea1active {
  transform: rotate(45deg) translate(-2px, 1px);
}
.menu-nav label .btn span.linea2active {
  opacity: 0;
  margin-left: -30px;
}
.menu-nav label .btn span.linea3active {
  transform: rotate(-45deg) translate(-4px, 2px);
}
.menu-nav label .btn:hover {
  border: inherit;
}

.shadow-layer {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(0deg, #0D0204, transparent, #0D0204);
  z-index: 96;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: height 999999999s ease;
}
header .images {
  height: 100vh;
}
header .images .title {
  position: absolute;
  z-index: 99;
  width: 30vw;
  height: 30vh;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: titulos;
  color: #D0CCB3;
  font-size: inherit;
  opacity: 0;
  animation: appear 5s cubic-bezier(0.5, 0.74, 0.14, 0.99) 5s forwards;
}
header .images .title h1 {
  font-size: 6rem !important;
}
header .images .scaling {
  background-image: url("../../media/banner.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  transition: height 999999999s ease;
  animation: scaling 15s linear infinite alternate forwards;
}
header .images .scaling-historia {
  background-image: url("../../media/historia/laberinto-historia.webp");
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media all and (max-width: 980px) {
  nav {
    justify-content: space-between !important;
  }
  nav ul {
    display: flex;
    padding: 28% 0%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 100vh;
    background-color: #8d323a;
    z-index: 98;
    left: 100%;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    font-size: 2em;
    padding-left: 0px;
    text-align: center;
  }
  nav ul li a {
    color: #D3E4CD;
  }
  nav ul li a:active {
    color: #874F9D;
  }
  nav #menu-burguer:checked ~ label .btn span {
    background-color: #f5efd3;
  }
  nav label .btn {
    display: block !important;
    right: 1.5rem;
    top: 1.3rem;
    z-index: 99;
  }
}
.colapse {
  left: 0;
}

.intro {
  background-image: url("../media/fondo.webp");
  background-size: contain;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 10%;
  color: #D0CCB3;
  font-family: body;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 992px) {
  .intro {
    text-align: unset;
  }
}
.intro .intro-empty {
  width: 100%;
  order: 2;
}
.intro .intro-shadow-layer {
  position: absolute;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 2;
  background: rgb(52, 11, 18);
  background: radial-gradient(circle, rgba(52, 11, 18, 0) 0%, rgb(52, 11, 18) 50%, rgb(13, 2, 4) 100%);
}
.intro .intro-container {
  z-index: 2;
}
.intro .intro-container p {
  font-size: 1.2rem;
  padding-top: 3%;
}
@media all and (max-width: 992px) {
  .intro .intro-container p {
    font-size: 17px;
  }
}
.intro .intro-container .fontTitulo {
  font-family: titulos;
}
@media all and (max-width: 992px) {
  .intro .intro-container .fontTitulo {
    font-size: 24px;
  }
}
@media all and (max-width: 992px) {
  .intro .intro-container #titulo2 {
    font-size: 13px;
    color: #D0CCB3;
  }
}
.intro #intro-title, .intro #titulo2 {
  color: white;
}
.intro .button {
  color: #D0CCB3;
  background-color: transparent;
  border: 2px solid #D0CCB3;
  border-radius: 12px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  margin: 50px 2px 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
@media all and (max-width: 992px) {
  .intro .button {
    font-size: 14px;
  }
}
.intro .button:hover {
  background-color: #D0CCB3;
  color: #480F19;
  font-weight: 600;
}

.espacios {
  color: gray;
}
.espacios .contenedor-card {
  font-family: body;
  display: flex;
  --bs-gutter-x: none;
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-card {
    height: 91h;
  }
}
.espacios .contenedor-card:nth-child(even) .card-descripcion {
  order: -1;
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-card:nth-child(even) .card-descripcion {
    order: inherit;
  }
}
.espacios .contenedor-card .card-imagen {
  width: 50%;
  padding: 0;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-card .card-imagen {
    width: 100%;
    height: 70%;
  }
}
.espacios .contenedor-card .card-imagen img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  box-shadow: 4px 13px 30px 1px #41464b;
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-card .card-imagen img {
    height: 63vh;
    box-shadow: none;
  }
}
.espacios .contenedor-card .card-imagen h2, .espacios .contenedor-card .card-imagen h3 {
  transform: translate(-50%, -50%);
}
.espacios .contenedor-card .card-imagen #fontFrase {
  position: absolute;
  font-family: frases;
  color: white;
  bottom: 8%;
  left: 78%;
}
.espacios .contenedor-card .card-descripcion {
  flex-direction: column;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 7%;
}
.espacios .contenedor-card .card-descripcion #fontTitulo {
  font-family: titulos;
  color: #8d323a;
  font-weight: 600;
  font-size: xxx-large;
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-card .card-descripcion {
    padding: 6%;
  }
  .espacios .contenedor-card .card-descripcion #fontTitulo {
    font-size: 24px;
  }
  .espacios .contenedor-card .card-descripcion p {
    font-size: 17px;
  }
}

footer {
  background-color: #8d323a;
  color: #f5efd3;
  font-family: body;
}
footer .ubicacion-contacto {
  display: flex;
  margin: 0 5%;
}
@media (max-width: 992px) {
  footer .ubicacion-contacto {
    flex-direction: column;
  }
}
footer .ubicacion-contacto .contact-left {
  width: 50%;
  padding-top: 6%;
}
@media (max-width: 992px) {
  footer .ubicacion-contacto .contact-left {
    width: 100%;
  }
}
@media (max-width: 992px) {
  footer .ubicacion-contacto .contact-left .info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
footer .ubicacion-contacto .contact-left .info .ubicacion {
  display: flex;
  flex-direction: column;
}
footer .ubicacion-contacto .contact-left .info .ubicacion h5 {
  font-family: titulos;
  font-size: 2rem;
  margin-bottom: 3%;
}
@media (max-width: 992px) {
  footer .ubicacion-contacto .contact-left .info .ubicacion h5 {
    font-size: 30px;
  }
}
footer .ubicacion-contacto .contact-left .info .ubicacion iframe {
  width: 74%;
  height: 100%;
  padding-bottom: 6%;
}
footer .ubicacion-contacto .contact-left .info ul {
  list-style-type: none;
  padding-left: 0rem;
}
@media (max-width: 992px) {
  footer .ubicacion-contacto .contact-left .info ul {
    margin-right: 9%;
    padding-left: 0;
  }
}
footer .ubicacion-contacto .contact-left .info ul li div {
  display: flex;
  flex-direction: row;
}
footer .ubicacion-contacto .contact-left .info ul li div i {
  font-size: 1rem;
  padding-right: 2%;
  display: block;
}
footer .ubicacion-contacto .contact-left .info ul li div p {
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: 50%;
}
@media (max-width: 992px) {
  footer .ubicacion-contacto .contact-left .info ul li div p {
    width: 80% !important;
  }
}
footer .ubicacion-contacto .contact-right {
  width: 50%;
  padding-top: 6%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  footer .ubicacion-contacto .contact-right {
    width: 100%;
    order: -1;
  }
}
footer .ubicacion-contacto .contact-right h5 {
  font-family: titulos;
  font-size: 2rem;
  margin-bottom: 3%;
}
@media (max-width: 992px) {
  footer .ubicacion-contacto .contact-right h5 {
    font-size: 30px;
  }
}
footer .ubicacion-contacto .contact-right .form {
  width: 71%;
}
footer .ubicacion-contacto .contact-right .form .form-control {
  font-size: 15px;
  border: 1px solid #faf9f9;
  background: none;
  font-weight: 300;
  margin-bottom: 13px;
  color: #8d323a;
}
footer .ubicacion-contacto .contact-right .form .form-control::placeholder {
  color: #faf9f9;
}
footer .ubicacion-contacto .contact-right .form .form-control:focus {
  border: 1px solid #faf9f9 !important;
  outline: none !important;
  box-shadow: none;
  background-color: #faf9f9;
}
footer .ubicacion-contacto .contact-right .form .form-control:focus::placeholder {
  color: #8d323a;
}
footer .ubicacion-contacto .contact-right .form textarea {
  height: auto;
  resize: none;
}
footer .ubicacion-contacto .contact-right .form textarea ::placeholder {
  color: #faf9f9;
}
footer .ubicacion-contacto .contact-right .form .btn-primary {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  line-height: 29px;
  padding: 4px 32px;
  display: inline-block;
  border: 1px solid #8d323a;
  background: #680d1c;
}
footer .ubicacion-contacto .contact-right .form .btn:active:focus {
  box-shadow: none;
}
footer .logo-derechos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logo-derechos .logo-footer {
  width: 22%;
}
@media (max-width: 992px) {
  footer .logo-derechos .logo-footer {
    width: 40%;
    margin: 5%;
  }
}
@media (max-width: 480px) {
  footer .logo-derechos .logo-footer {
    width: 54%;
  }
}
footer .logo-derechos .derechos {
  font-family: body;
  padding: 1% 5%;
  text-align: center;
  margin-bottom: 0;
  font-size: smaller;
}
footer .logo-derechos .dev {
  font-size: small;
}

h4 {
  position: sticky;
  top: 0;
  font-family: titulos;
  font-size: 3rem;
  color: #f5efd3;
  background-color: #8d323a;
  text-align: center;
  z-index: 10;
  margin-bottom: 0;
}
@media screen and (max-width: 772px) {
  h4 {
    font-size: 30px;
  }
}

.carousel-inner {
  height: 100vh;
  background-color: #1f1f1f;
}
@media screen and (max-width: 772px) {
  .carousel-inner {
    height: 56vh;
  }
}
.carousel-inner .carousel-item {
  height: inherit;
}
.carousel-inner .carousel-item .shadow-layer {
  z-index: 0;
}
.carousel-inner .carousel-item img {
  height: 74%;
  margin: auto;
}
@media screen and (max-width: 772px) {
  .carousel-inner .carousel-item img {
    height: 74%;
  }
}
.carousel-inner .carousel-item .w-100 {
  width: auto !important;
}
.carousel-inner .carousel-item .carousel-caption {
  right: 2%;
  left: 2%;
  background: linear-gradient(0deg, #1f1f1f, #1f1f1f, transparent);
  padding: 5% 15%;
}
@media screen and (max-width: 480px) {
  .carousel-inner .carousel-item .carousel-caption {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.carousel-inner .carousel-item .carousel-caption h5 {
  font-family: titulos;
  color: white;
  font-size: xxx-large;
}
.carousel-inner .carousel-item .carousel-caption p {
  font-family: body;
  font-size: 1.2rem;
  color: lightgrey;
}
@media screen and (min-width: 772px) and (max-width: 1024px) {
  .carousel-inner .carousel-item .carousel-caption {
    padding: 1rem 7rem;
  }
  .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 1.5rem;
  }
  .carousel-inner .carousel-item .carousel-caption p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 772px) {
  .carousel-inner .carousel-item .carousel-caption {
    text-align: unset;
    padding: 17% 5%;
  }
  .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 24px;
  }
  .carousel-inner .carousel-item .carousel-caption p {
    font-size: 17px;
    margin-bottom: 0;
  }
}

.carousel-control-prev, .carousel-control-next {
  opacity: inherit;
  width: 8%;
}
.carousel-control-prev .carousel-control-prev-icon, .carousel-control-prev .carousel-control-next-icon, .carousel-control-next .carousel-control-prev-icon, .carousel-control-next .carousel-control-next-icon {
  border: transparent solid 3px;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  transition: all 0.1s ease-in;
}
.carousel-control-prev .carousel-control-prev-icon:hover, .carousel-control-prev .carousel-control-next-icon:hover, .carousel-control-next .carousel-control-prev-icon:hover, .carousel-control-next .carousel-control-next-icon:hover {
  transform: scale(1.2);
}

.banner .titulo {
  color: white;
}
.banner .titulo .titulo-historia {
  font-family: titulos;
  font-size: xxx-large;
}

.p2 {
  font-family: body;
  font-size: 1.5rem;
  color: #8d323a;
}

.color {
  color: darkslategrey;
}

.intro-historia {
  display: flex;
  background-image: none;
  color: black;
  padding: 5%;
}
@media screen and (max-width: 772px) {
  .intro-historia {
    flex-direction: column;
  }
}
.intro-historia img {
  width: 50%;
  padding: 2%;
}
@media screen and (max-width: 772px) {
  .intro-historia img {
    width: 100%;
  }
}
.intro-historia .intro-historia-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-historia .intro-historia-texto h2 {
  font-weight: 600;
  font-size: xxx-large;
  margin-bottom: 1em;
  font-family: titulos;
  color: #8d323a;
  text-transform: uppercase;
}
@media screen and (max-width: 772px) {
  .intro-historia .intro-historia-texto h2 {
    font-size: xx-large;
  }
}

.historia {
  color: gray;
}
.historia .contenedor-card {
  padding: 0 5%;
  font-family: body;
  display: flex;
  --bs-gutter-x: none;
}
@media screen and (max-width: 992px) {
  .historia .contenedor-card {
    height: 91h;
  }
}
.historia .contenedor-card:nth-child(even) .card-descripcion {
  order: -1;
}
@media screen and (max-width: 992px) {
  .historia .contenedor-card:nth-child(even) .card-descripcion {
    order: inherit;
  }
}
.historia .contenedor-card .card-imagen {
  width: 50%;
  padding: 0;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .historia .contenedor-card .card-imagen {
    width: 100%;
    height: 70%;
  }
}
.historia .contenedor-card .card-imagen img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  box-shadow: 4px 13px 30px 1px #41464b;
}
@media screen and (max-width: 992px) {
  .historia .contenedor-card .card-imagen img {
    height: 63vh;
    box-shadow: none;
  }
}
.historia .contenedor-card .card-imagen h2, .historia .contenedor-card .card-imagen h3 {
  transform: translate(-50%, -50%);
}
.historia .contenedor-card .card-imagen #fontFrase {
  position: absolute;
  font-family: frases;
  color: white;
  bottom: 8%;
  left: 78%;
}
.historia .contenedor-card .card-descripcion {
  flex-direction: column;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 7%;
}
.historia .contenedor-card .card-descripcion #fontTitulo {
  font-family: titulos;
  color: #8d323a;
  font-weight: 600;
  font-size: xxx-large;
}
@media screen and (max-width: 992px) {
  .historia .contenedor-card .card-descripcion {
    padding: 4%;
  }
  .historia .contenedor-card .card-descripcion #fontTitulo {
    font-size: 24px;
  }
  .historia .contenedor-card .card-descripcion p {
    font-size: 17px;
  }
}

.quote {
  padding: 5% 7%;
  color: darkslategray;
  text-align: center;
}

.fontTitulo {
  font-family: titulos;
  color: #8d323a;
  font-weight: 600;
  font-size: xxx-large;
}
@media screen and (max-width: 992px) {
  .fontTitulo {
    font-size: xx-large;
  }
}

.simbologia {
  color: gray;
}
.simbologia .contenedor-card {
  flex-wrap: nowrap;
  --bs-gutter-x: 0rem;
  font-family: body;
  display: flex;
  justify-content: center;
  padding: 0 7%;
}
@media screen and (max-width: 992px) {
  .simbologia .contenedor-card {
    flex-direction: column;
    margin-top: 100px;
  }
}
.simbologia .contenedor-card:nth-child(even) .card-descripcion {
  align-items: start;
  order: -1;
}
@media screen and (max-width: 992px) {
  .simbologia .contenedor-card:nth-child(even) .card-descripcion {
    order: inherit;
  }
}
.simbologia .contenedor-card .card-imagen {
  height: 100vh;
  width: 50vw;
  display: flex;
  padding: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .simbologia .contenedor-card .card-imagen {
    width: 100vw;
    height: 30vh;
  }
}
.simbologia .contenedor-card .card-imagen img {
  height: 400px;
  object-fit: cover;
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.4);
}
@media screen and (max-width: 992px) {
  .simbologia .contenedor-card .card-imagen img {
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .simbologia .contenedor-card .card-imagen img {
    width: 300px;
    height: 300px;
    box-shadow: none;
  }
}
.simbologia .contenedor-card .card-descripcion {
  flex-direction: column;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7%;
}
.simbologia .contenedor-card .card-descripcion #simbol {
  background-color: #728126;
  border-radius: 5px;
  color: white;
  padding: 10px 32px;
  align-self: start;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .simbologia .contenedor-card .card-descripcion {
    height: 50vh;
    justify-content: space-evenly;
  }
  .simbologia .contenedor-card .card-descripcion #fontTitulo {
    font-size: 24px;
  }
  .simbologia .contenedor-card .card-descripcion p {
    font-size: 17px;
  }
}
.simbologia #simbolTitile {
  position: relative;
}

.documental {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.documental h2 {
  font-family: titulos;
}
@media screen and (max-width: 560px) {
  .documental iframe {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */