h4{
    position: sticky;
    top: 0;
    font-family: titulos;
    font-size: 3rem;
    color: $color-secundario;
    background-color: $color-primario;
    text-align: center;
    z-index: 10;
    margin-bottom: 0;
    @media screen and (max-width: 772px) { //mobile 
        font-size: 30px;
    }
}
.carousel-inner{
    height: 100vh;
    @media screen and (max-width: 772px) { //mobile 
        height: 56vh;
    }
    background: $color-secundario;
    .carousel-item{
        height: inherit;
        .shadow-layer{
            z-index: 0;
        }
      img{
            height: 74%;
            margin: auto;
            @media screen and (max-width: 772px) { //mobile 
                height: 74%;
            }

        }
        .w-100{
            width: auto!important;
            
        }
        .carousel-caption{
            right: 2%;
            left: 2%;
            
            padding: 0% 15%;
            
            @media screen and (max-width: 480px) {
                    bottom: 0;
                }
            h5{
                font-family: titulos;
                color: $color-primario;
                font-weight: 600;
                font-size: xxx-large;
            }
            p{
                font-family: body;
                font-size: 1.2rem;
                color: grey;
            }
            @media screen and (min-width: 772px) and (max-width: 1024px) { //tablet
                padding: 1rem 7rem;
                h5{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 0.9rem;
                }
            }
            @media screen and (max-width: 772px) { //mobile 
                padding: 10px;
                h5{
                    font-size: 17px;
                }
                p{
                    font-size: 13px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
.carousel-control-prev, .carousel-control-next{
    opacity: inherit;
    width: 8%;

    .carousel-control-prev-icon, .carousel-control-next-icon{
        background-color: $color-primario;
        border:transparent solid 3px;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        transition: all .3s ease-in;
        &:hover{
            border:white solid 2px;
        
        }
    }

}
