*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}
html {
    height: 100%;
}
body {
    overflow-x: hidden;
    min-height: 100%;
    // background-color: #1F1F1F;
    &::before {
        content: "";
        width: 717px;
        height: 900px;
        background-image: url(../../media/labyrinth_2m2okx43yd7m.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 1596px;
        transform: rotate(45deg);
        right: 48px;
        z-index: 0;
    }
    h4{
        height: 50px;
        position: sticky;
        top: 50px;
        font-family: titulos;
        font-size: 2.5rem;
        color: white;
        background-color: $color-primario;
        text-align: left;
        padding-left: 6%;
        z-index: 10;
        // @media screen and (max-width: 772px) { //mobile 
        //     font-size: 2rem;
        // }

    }
    .separador {
        position: sticky;
        top: 50px;
      overflow: hidden;
      height: 20px;
    }
    
    .separador:after {
      content: '';
      display: block;
      width: 90%;
      height: 30px;
        margin: -30px auto 0;
      border-radius: 120px / 10px;
      box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    }
}
.scroll-none{
    overflow-y:hidden;
}

