*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
.scroll-none{
    overflow-y:hidden;
}

