
.espacios{
    color: gray;
    &::before {
        content: "";
        width: 717px;
        height: 900px;
        background-image: url('../media/labyrinth_2m2okx43yd7m.svg');
        background-repeat: no-repeat;
        position: absolute;
        top: 4596px;
        transform: rotate(45deg);
        right: 388px;
        z-index: 0;
    }
    
    .contenedor-card{
        font-family: body;
        display: flex;
        --bs-gutter-x: none;
        @media screen and (max-width: 992px) {
            height: 91h;
        }
        &:nth-child(even){
            .card-descripcion{
                //en las pares el texto se va a acomodar a la izq
                order: -1;
                @media screen and (max-width: 992px) {
                    order: inherit;
                }
            }
        }
        .card-imagen{
            width: 50%;
            padding: 0;
            height: 100%;
            position: relative;
            @media screen and (max-width: 992px) {
                width: 100%;
                height: 70%;
            }
            img{
                width: 100%;
                height: 100vh;
                object-fit: cover;
                box-shadow: 4px 13px 30px 1px #41464b;
                // box-shadow: 4px 13px 30px 1px black;
                @media screen and (max-width: 992px) {
                    height: 63vh;
                    box-shadow: none;
                }
            }
            h2, h3{
                transform: translate(-50%, -50%);
            }
            
            #fontFrase{
                position: absolute;
                font-family: frases;
                font-size: 2.5rem;
                color: white;
                bottom: 8%;
                left: 78%;
                text-shadow: 0px -2px 22px rgba(0,0,0,1);
            }
        }
        .card-descripcion{
            overflow: hidden;
            flex-direction: column;
            font-size: 1.5rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 7%;
            
            #fontTitulo{
                font-family: titulos;
                color: $color-primario;
                font-weight: 600;
                font-size: xxx-large;
            }
            @media screen and (max-width: 992px) {
                padding: 6%;
                #fontTitulo{
                    font-size: 24px;
                }
                p{
                    font-size: 17px;
                }
            }
        }
        
    }
    
    
}
