
footer{
    background-color: $color-primario;
    color: $color-secundario;
    .contenedor-footer-info{
        display: flex;
        @media (max-width: 992px) {
            flex-direction: column;
        }
            .contact-left{
                    width: 50%;
                    @media (max-width: 992px) {
                            width: 100%;
                        }
                    }
                    .info{
                        @media (max-width: 992px) {
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                        }
                        .logo-footer{
                            width: 60%;
                            margin: 11%;
                            @media (max-width: 992px) {
                                width: 40%;
                                margin: 5%;
                            }
                            @media (max-width: 480px) {
                                width: 54%
                            }
                        }
                        ul {
                            list-style-type: none;
                            margin: 0 11%;
                            @media (max-width: 560px)  {
                                width: 64%;
                                margin: 0% 5% 0% 6%;
                            }
                            @media (min-width: 561px) and (max-width: 993px) {
                                width: 38%;
                                margin: 1% 0% 0% 0%;
                            }
                            li{
                                div{
                                    display: flex;
                                    flex-direction: row;
                                    i{
                                        font-size: 1rem;
                                        padding-right: 2%;
                                        display: block;
                                    }
                                    p{
                                        display: block;
                                        font-size: 15px;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                    }
                    .redes{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: space-around;
                        margin: 5% 11%;
                        @media (max-width: 992px) {
                            justify-content: center;
                        }
                        a{
                            display: contents;
                            i{
                                display: block;
                                font-size: 15px;
                                margin: 0 12%;
                                display: block;
                                color: white;
                            }
                            img{
                                display: block;
                                width: 2rem;
                                color: white;
                                margin: 0 8%;
                            }
                        }
                    }

                        
                    .contenedor-footer-menu{
                        margin: 0 11%;
                        .menu{
                            text-align: center;
                            display: contents;
                            @media (max-width: 992px) {
                                display: block;;
                            }
                            ul{
                                text-decoration: none;
                                display: contents;
                                li{
                                    display: contents;
                                    font-size: 15px;
                                    font-weight: 300;
                                    color: white;
                                    a{
                                        color: $color-secundario;
                                        padding-right: 2%;
                                        &:hover{
                                            color: black;
                                        }
                                    }
                                    
                                }
                            }
                        }

                    }

            }
            .contact-right{
                width: 50%;
                padding-top: 6%;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 992px) {
                    width: 100%;
                    order: -1;
                }
                h5{
                    font-family: titulos;
                    margin-bottom: 3%;
                }
                .form{
                    width: 71%;
                    .form-control{
                        font-size: 11px;
                        border: 1px solid #faf9f9;
                        border-radius: 0%;
                        background: none;
                        font-weight: 300;
                        margin-bottom: 10px;
                        line-height: 0.5rem;
                        &:focus {
                            border: 1px solid black!important;
                            outline: none!important;
                            box-shadow: none;
                            background-color: $color-secundario;
                        }
                    }
                    textarea{
                        height: auto;
                        resize: none;
                    }
                    .btn-primary{
                        font-size: 9px;
                        text-transform: uppercase;
                        font-weight: 500;
                        width: auto;
                        line-height: 29px;
                        padding: 0 7px;
                        display: inline-block;
                        border: 1px solid $color-primario;
                        background: #680d1c;
                    }
                }
                .ubicacion{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 71%;
                    h5{
                        font-family: titulos;
                        margin-bottom: 3%;
                    }
                    iframe{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
    }

    .derechos{
        font-family: body;
        padding: 2% 0;
        text-align: center;
    }



