
footer{
    background-color: $color-primario;
    color: $color-secundario;
    font-family: body;
    .ubicacion-contacto{
        display: flex;
        margin: 0 5%;
        @media (max-width: 992px) {
            flex-direction: column;
        }
            .contact-left{
                    width: 50%;
                    padding-top: 6%;
                    @media (max-width: 992px) {
                            width: 100%;
                        }
                    .info{
                        @media (max-width: 992px) {
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                        }
                        .ubicacion{
                            display: flex;
                            flex-direction: column;
                            h5{
                                font-family: titulos;
                                font-size: 2rem;
                                margin-bottom: 3%;
                                @media (max-width: 992px) {
                                    font-size: 30px;
                                }
                            }
                            iframe{
                                width: 74%;
                                height: 100%;
                                padding-bottom: 6%;
                            }
                        }
                        ul {
                            list-style-type: none;
                            padding-left: 0rem;
                            @media (max-width: 992px)  {
                                margin: 0 9%;
                            }
                            @media (max-width: 480px)  {
                                margin: 0 13% 0 6%;
                            }
                            li{
                                div{
                                    display: flex;
                                    flex-direction: row;
                                    i{
                                        font-size: 1rem;
                                        padding-right: 2%;
                                        display: block;
                                    }
                                    p{
                                        display: block;
                                        font-size: 16px;
                                        font-weight: 300;
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }
            }
        
            .contact-right{
                width: 50%;
                padding-top: 6%;
                display: flex;
                flex-direction: column;
                @media (max-width: 992px) {
                    width: 100%;
                    order: -1;
                }
                h5{
                    font-family: titulos;
                    font-size: 2rem;
                    margin-bottom: 3%;
                    @media (max-width: 992px) {
                        font-size: 30px;
                    }
                }
                .form{
                    width: 71%;
                    .form-control{
                        font-size: 15px;
                        border: 1px solid #faf9f9;
                        background: none;
                        font-weight: 300;
                        margin-bottom: 13px;
                        color: $color-primario;
                        &::placeholder{
                            color: #faf9f9;
                        }
                        &:focus {
                            border: 1px solid #faf9f9!important;
                            outline: none!important;
                            box-shadow: none;
                            background-color: #faf9f9;
                            &::placeholder{
                                color: $color-primario;
                            }
                        }
                    }
                    textarea{
                        height: auto;
                        resize: none;
                        ::placeholder{
                            color: #faf9f9;
                        }
                    }
                    .btn-primary{
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 500;
                        width: auto;
                        line-height: 29px;
                        padding: 4px 32px;
                        display: inline-block;
                        border: 1px solid $color-primario;
                        background: #680d1c;
                    }
                    .btn:active:focus {
                        box-shadow: none;
                    }
                
            }
            }
    }
    .logo-derechos{
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-footer{
        width: 22%;
        @media (max-width: 992px) {
            width: 40%;
            margin: 5%;
        }
        @media (max-width: 480px) {
            width: 54%
        }
        }
        .derechos{
        font-family: body;
        padding: 1% 0;
        text-align: center;
        margin-bottom: 0;
        
        }
        .dev{
            font-size: small;
        }
    }
}
