
.fontTitulo{
    font-family: titulos;
    color: $color-primario;
    font-weight: 600;
    font-size: xxx-large;
}
.simbologia{
    
    color: gray;
    
    .contenedor-card{
        flex-wrap: nowrap;
        --bs-gutter-x: 0rem;
        font-family: body;
        display: flex;
        justify-content: center;
        padding: 0 7%;
        @media screen and (max-width: 992px) {
            flex-direction: column;
            margin-top: 100px;
        }
        // @media screen and (max-width: 992px) {
        //     height: 91h;
        // }
        &:nth-child(even){
            .card-descripcion{
                align-items: start;
                //en las pares el texto se va a acomodar a la izq
                order: -1;
                @media screen and (max-width: 992px) {
                    order: inherit;
                }
            }
        }
        .card-imagen{
            height: 100vh;
            width: 50vw;
            display: flex;
            padding: 0;
            position: relative;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 992px) {
                width: 100vw;
                height: 30vh;
            }
            img{
                height: 400px;
                object-fit: cover;
                box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.4);
                @media screen and (max-width: 992px) {
                    height: 100%;
                }
                @media screen and (max-width: 480px) {
                    width: 300px;
                    height: 300px;
                    box-shadow: none;
                }
            }
        }
        // .two-img{
        //     overflow: hidden;
        //     height: 400px;
        //     cursor: pointer;
        //     flex-direction: column;
        //     img{
        //         position: relative;
        //         transition: all 2s ease-in !important;
        //         top: 200px;
        //     }
        //     &:hover img{
                
        //         top: -200px;
        //     }
        // }
        .card-descripcion{
            flex-direction: column;
            
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7%;
            
            #simbol{
                background-color: #728126;
                border-radius: 5px;
                color: white;
                padding: 10px 32px;
                align-self: start;
                cursor: pointer;
            }
            @media screen and (max-width: 992px) {
                height: 50vh;
                justify-content: space-evenly;
                #fontTitulo{
                    font-size: 24px;
                }
                p{
                    font-size: 17px;
                }
            }
        }
        
    }
    #simbolTitile{
        position: relative;
        // top: 100px;
    }
    
}
.documental{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font-family: titulos;
    }
    @media screen and (max-width: 560px) {
        iframe{
            width: 300px;
        }
    }
}